<div class="container">
  <% flash.each do |name, msg| %>

    <!-- <% if name == "notice" %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
    <% else %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <% end %> --> 

    <div class="alert alert-<%= name == "notice" ? "success" : "danger" %> alert-dismissible fade show" role="alert">
      <%= msg %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %> 
</div> 